{{#each erros}}
    <div class="notify info">
        <div class="notify-body">
            <span class="type">Info</span>
            <div class="notify-title">Informação do sistema.<img src="/img/notification-info.svg" alt=""></div>
            <div class="notify-text">{{texto}}</div>
        </div>
    </div>
{{else}}
{{/each}}