{{#if error}}
    <div class="notify danger">
        <div class="notify-body">
            <span class="type">Erro</span>
            <div class="notify-title">Erro no processamento dos Dados.<img src="/img/notification-danger.svg" alt=""></div>
            <div class="notify-text">{{error}}</div>
        </div>
    </div>
{{/if}}