{{#if info_msg}}
    <div class="notify info">
        <div class="notify-body">
            <span class="type">Info</span>
            <div class="notify-title">Give your valuable feedback.<img src="/img/notification-info.svg" alt=""></div>
            <div class="notify-text">How likely are you to recommend Retail Dashboard to your friends?</div>
        </div>
    </div>
{{/if}}

{{#if success_msg}}
    <div class="notify danger">
        <div class="notify-body">
            <span class="type">Erro</span>
            <div class="notify-title">Give your valuable feedback.<img src="/img/notification-danger.svg" alt=""></div>
            <div class="notify-text">How likely are you to recommend Retail Dashboard to your friends?</div>
        </div>
    </div>
{{/if}}

{{#if error_msg}}
    <div class="notify success">
        <div class="notify-body">
            <span class="type">Sucesso</span>
            <div class="notify-title">Give your valuable feedback.<img src="/img/notification-success.svg" alt=""></div>
            <div class="notify-text">How likely are you to recommend Retail Dashboard to your friends?</div>
        </div>
    </div>
{{/if}}