<nav class="navbar navbar-expand-lg custom-navbar">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#retailAdminNavbar" aria-controls="retailAdminNavbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon">
            <i></i>
            <i></i>
            <i></i>
        </span>
    </button>
    <div class="collapse navbar-collapse" id="retailAdminNavbar">
        <ul class="navbar-nav m-auto">
            <li class="nav-item">
                <a class="nav-link active-page" href="/dashboard">
                    <i class="icon-devices_other nav-icon"></i>
                    Dashboard
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="appsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="icon-package nav-icon"></i>
                    Equipamentos
                </a>
                <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="appsDropdown">
                    <li>
                        <a class="dropdown-item" href="/equipamentos">Ver Todos</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="/equipamento/add">Adicionar</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="/equipamento/repositorio">Repositório</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="formsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="icon-edit1 nav-icon"></i>
                    Documentos
                </a>
                <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="formsDropdown">
                    <li>
                        <a class="dropdown-item" href="/documento">Ver Todos</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="/documento/add">Adicionar</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="/documento/repositorio">Repositório</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="uiElementsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="icon-camera2 nav-icon"></i>
                    Apps
                </a>
                <ul class="dropdown-menu dropdown-menu-right mega-menu-lg" aria-labelledby="uiElementsDropdown">
                    <li>
                        <a class="dropdown-item" href="/app/email">Caixa de Email</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="/app/clima">Clima</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="/app/calendario">Calendário</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="/app/chat">Chat</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="/app/ferramentas">Ferramentas</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="/app/contactos">Contactos</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="/app/geolocalizacao">Geolocalização</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="/app/googlemap">Google Map</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="javascript:void(0);" id="graphsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="icon-pie-chart1 nav-icon"></i>
                    Reporte/Relatório
                </a>
                <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="graphsDropdown">
                    <li>
                        <a class="dropdown-item" href="/relatorios">Relatórios</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="/relatorio/criar">Gerar Relatório</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="tablesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="icon-border_all nav-icon"></i>
                    Configurações
                </a>
                <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="tablesDropdown">
                    <li>
                        <a class="dropdown-item" href="/defimicoes/utilizador/meu-perfil/editar">Gerir Perfil</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="/definicoes/utilizadores">Gerir Utilizadores</a>
                    </li>
                    <li>
                        <a class="dropdown-toggle sub-nav-link" href="javascript:void(0);" id="submenuDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Ferramentas
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="submenuDropdown">
                            <li>
                                <a class="dropdown-item" href="/definicoes/ferramentas/unidade">Unidade</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/definicoes/ferramentas/marca">Marca</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/definicoes/ferramentas/ramo">Ramo</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/definicoes/ferramentas/tipos">Tipos</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="loginDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="icon-alert-triangle nav-icon"></i>
                    Outras Info
                </a>
                <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="loginDropdown">
                    <li>
                        <a class="dropdown-item" href="/Definicoes/sistema">Definições do sistema</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="/definicoes/idioma">Idioma</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="/definicoes/mensagem">Definições de Mensagem</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="/definicoes/seguranca">Seguraça</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="/sobre">Sobre</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>