<!-- Container start -->
<div class="container">

    <form action="/login" method="POST">
        <div class="row justify-content-md-center">
            <div class="col-xl-4 col-lg-5 col-md-6 col-sm-12">
                <div class="login-screen">
                    <div class="login-box">
                        <a href="/" class="login-logo">
                            <span class="text-danger">A</span><span class="text-warning">l</span><span class="text-success">p</span><span class="text-info">h</span><span class="text-royal-orange">a</span><span class="text-jungle-green"> X</span>
                        </a>
                        {{>_loginMsg}}
                        {{>_msg}}
                        <div class="form-group">
                            <input type="email" name="email" class="form-control" placeholder="Email" required/>
                        </div>
                        <div class="form-group">
                            <input type="password" name="password" class="form-control" placeholder="Password" required/>
                        </div>
                        <div class="actions">
                            <button class="btn btn-info btn-block" type="submit">Entrar</button>
                        </div>
                        <div class="m-0">
                            <span class="additional-link">Esqueceu-se da password? <a href="#">Recuperar</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

</div>
<!-- Container end -->