<!-- Loading starts -->
{{>_loader}}
<!-- Loading ends -->

<div class="container">

    <!-- *************
************ Header section start *************
************* -->
    <!-- Header start -->
    {{>_header}}
    <!-- Header end -->
    <!-- Navigation start -->
    {{>navigation}}
    <!-- Navigation end -->

    <!-- Search bar start -->
    {{>_searchBar}}
    <!-- Search bar end -->

    <!-- *************
************ Header section end *************
************* -->

    <!-- *************
************ Main container start *************
************* -->
    <div class="main-container">


        <!-- Page header start -->
        <div class="page-title">
            <div class="row gutters">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    <h5 class="title">Utilizadores</h5>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="daterange-container">
                        <div class="date-range">
                            <div>
                                <i class="icon-calendar" 
                                   style="font-size: 1.2rem;color:#00b894"></i> 
                                <script>writedate()</script>
                                <i class="icon-clock" 
                                   style="font-size: 1.2rem;color:#00b894"></i>
                                <script>writeclock()</script>
                                <span class="range-text"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Page header end -->


        <!-- Content wrapper start -->
        <div class="content-wrapper">

            {{#each erros}}
                <div class="notify info">
                    <div class="notify-body">
                        <span class="type">Info</span>
                        <div class="notify-title">Informação do sistema.<img src="/img/notification-info.svg" alt="{{info_msg}}"></div>
                        <div class="notify-text">{{texto}}</div>
                    </div>
                </div>
            {{else}}
            {{/each}}

            <!-- ************************** Visitors and Revenue ************************** -->
            <!-- Row start -->
            <div class="row gutters justify-content-center">
                {{>_msg}}
                {{>_errorMsg}}
                <form action="/definicoes/utilizador/adicionar" method="POST">
                    <!-- Name's -->
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="card">
                            <div class="card-header">
                                <div class="card-title">Nome</div>
                            </div>
                            <div class="card-body">
                                <div class="row gutters">
                                    <div class="col-xl-12 col-lglg-12 col-md-12 col-sm-12 col-12">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">Primeiro &amp; Último Nome</span>
                                            </div>
                                            <input type="text" id="firstName" name="firstName" aria-label="First name" placeholder="escreva aqui o primeiro nome..." autocomplete="off" required class="form-control">
                                            <input type="text" id="lastName" name="lastName" aria-label="Last name" placeholder="escreva aqui o último nome..." autocomplete="off" required class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Name's end -->
                    <!--Email & Pass end -->
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="card">
                            <div class="card-header">
                                <div class="card-title">Email | Palavra-passe</div>
                            </div>
                            <div class="card-body">

                                <div class="row gutters">
                                    <div class="col-xl-4 col-lglg-4 col-md-4 col-sm-4 col-12">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">@</span>
                                                    <span class="input-group-text">Email</span>
                                                </div>
                                                <input type="email" id="email" name="email" autocomplete="off" placeholder="exemplo@celfaa.ao" class="form-control" aria-label="Email" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-lglg-4 col-md-4 col-sm-4 col-12">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <input type="password" id="password" name="password" autocomplete="off" placeholder="mínimo 4 caracters" class="form-control" aria-label="Password">
                                                <div class="input-group-append">
                                                    <span class="input-group-text">&#10033;</span>
                                                    <span class="input-group-text">Palavra-passe</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-lglg-4 col-md-4 col-sm-4 col-12">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">&#10033;</span>
                                                    <span class="input-group-text">Palavra-passe</span>
                                                </div>
                                                <input type="password" id="password2" name="password2" autocomplete="off" placeholder="Confirmar palavra-passe..." class="form-control" aria-label="Password2" required>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!--Email & Pass end -->
                    <!--Pic & Level end -->
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="card">
                            <div class="card-header">
                                <div class="card-title">Imagem de perfil | Nível</div>
                            </div>
                            <div class="card-body">

                                <div class="row gutters">
                                    <div class="col-xl-6 col-lglg-6 col-md-6 col-sm-12 col-12">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="picture">Foto de Perfil</span>
                                                </div>
                                                <div class="custom-file">
                                                    <input type="file" name="picture" class="custom-file-input" id="picture" aria-describedby="picture">
                                                    <label class="custom-file-label" for="picture">Escolher foto...</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lglg-6 col-md-6 col-sm-12 col-12">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <select class="custom-select" id="accessLevel" name="accessLevel">
                                                    <option selected>Selecionar nível...</option>
                                                    <option value="0">Utilizador</option>
                                                    <option value="1">Administrador</option>
                                                </select>
                                                <div class="input-group-append">
                                                    <label class="input-group-text" for="accessLevel">Nível de Utilizador</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!--Pic & Level end -->
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="custom-btn-group">
                            <button type="submit" class="btn btn-success">Guardar</button>
                            <button type="button" class="btn btn-light">Cancelar</button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- Row end -->

        </div>
        <!-- Content wrapper end -->


    </div>
    <!-- *************
************ Main container end *************
************* -->


</div>